html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*:focus{
  outline: none;
}

#container {
  min-height: 100%;
  position: relative;
}

#main {
  height:231px;
  margin: 0 auto;
  text-align: center;
}

#footer {
  bottom:0;
  width: 100%;
  height: 41px;
  position:absolute;
  background-color: pink;
}

#topbar {
  background-color: lightblue;
  height: 60px;
}

#logo {
  margin-top: 20px;
  min-height: 230px;
}

img.logo {
  padding-top: 112px;
  width: 269px;
  height: 95px;
}

.search {
  margin: 0 auto;
  width: 570px;
  height: 28px;
  border: 1px solid lightgray;
}

.search:hover {
  border-color: gray;
}

.clickSearch {
  border-color: #4d90fe;
}

.input {
  width: 523px;
  height: 20px;
  font: 16px arial,sans-serif;
  margin-top: 4px;
  border: none;
  background-color: transparent;
}

.inputLeft {
  float: left;
  width: 541px;
  height: 27px;
}

.inputRight {
  float:left;
  width: 29px;
  height: 27px;

}

.mic {
  height: 27px;
  width: 17px;
  margin: 1px auto;
  background: url(data:image/gif;base64,R0lGODlhFQAVAMIEAAMGAkFDQHN1csnLx////////////////yH5BAEKAAQALAAAAAAVABUAAANJSLrc/kQAICCUk1qX827d9DEhMC7lqaQqe7pQYBIsEDzSEHXVoDm+yu6XiwF0Dd8N4qMgBxgkUxYKSDfQieD6mqlQ3i8tLP4kAAA7)
  no-repeat center;
}

.buttons {
  margin: 0 auto;
  text-align: center;
}

.buttonLeft {
  width: 96px;
}

.buttonRight {
  width: 111px;
}

.buttonLeft:hover, .buttonRight:hover {
  box-shadow: 0 1px 0 rgba(0,0,0,.15);

}

.buttonLeft, .buttonRight {
  position: relative;
  top: 2px;
  margin: 15px 7px;
  padding-top: 0px;
  height: 29px;
  /*border-color: #c6c6c6;*/
  border: 1px solid #dcdcdc;
  background: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  font: bold 11px/27px Arial,sans-serif!important;
}
























